{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
<div class="container overflow-scroll">
    <h1>404</h1>
     <h4 data-text="Opps! Page not found">
    Opps! Page not found
 </h4>
 <p>
    Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
 </p>
    <a href="/"><button class="btn btn-primary my-2">Go back To Home</button></a> or <a href="/"><button class="btn btn-danger">Report Problem</button></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br><br><br><br><br><br>

</div>



{% endblock content %}